@import url('css/bootstrap.min.css');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Poppins';
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
*:focus {
  outline: none !important;
}
body,
html {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}
.modal-backdrop {
  opacity: 0.8 !important;
}
.dark {
  color: #222;
}
.light {
  color: #777;
}
.white {
  color: #fff;
}
.bold {
  font-weight: 600;
}
.w100 {
  width: 100%;
}
.padtop80 {
  padding-top: 80px;
}
.padtop40 {
  padding-top: 40px;
}
.padtop20 {
  padding-top: 20px;
}
.padbot80 {
  padding-bottom: 80px;
}
.padbot40 {
  padding-bottom: 40px;
}
.padbot20 {
  padding-bottom: 20px;
}
.playfair {
  font-family: 'Playfair Display';
}
.poppins {
  font-family: 'Poppins';
}
.droid {
  font-family: 'Droid Serif';
}
.white {
  color: #fff;
}
.flex-center {
  display: flex;
  align-items: center;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.uppercase {
  text-transform: uppercase;
}
header {
  width: 100%;
  height: 75px;
  background-color: transparent;
  position: fixed;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  z-index: 9;
  transition: 0.5s;
}
.logo {
  height: 100%;
  margin-left: 40px;
}
.logo a {
  padding: 0;
  height: 100%;
}
.logo a img#logo_white {
  display: block;
  transition: 0.5s;
}
.logo a img#logo_black {
  display: none;
  transition: 0.5s;
}
nav {
  float: right;
  height: inherit;
  display: flex;
  align-items: center;
}
nav .menu ul li {
  display: inline;
}
nav .menu ul li a {
  padding: 0 10px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  transition: 0.5s;
}
nav .menu ul li:hover a,
nav .menu ul li.current_page_item a {
  opacity: 0.7;
}
.search {
  width: 70px;
  height: 100%;
  border-left: 1px solid rgba(255,255,255,0.2);
  background-color: blue;
  z-index: 9;
}
.search a {
  width: 100px;
  height: inherit;
}
.search a img {
  width: 24px;
  height: auto;
  margin: 0 auto;
}
.search a img#search_ico_white {
  display: block;
  transition: 0.5s;
}
.search a img#search_ico_black {
  display: none;
  transition: 0.5s;
}
.search a:hover img {
  opacity: 0.7;
}
header.header_bg_white {
  background-color: #fff;
  transition: 0.5s;
  height: 50px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(50,50,50,0.25);
  -moz-box-shadow: 0px 1px 5px 0px rgba(50,50,50,0.25);
  box-shadow: 0px 1px 5px 0px rgba(50,50,50,0.25);
}
header.header_bg_white nav .menu ul li a {
  color: #222;
  transition: 0.5s;
}
header.header_bg_white nav .menu ul li:hover a,
header.header_bg_white nav .menu ul li.current_page_item a {
  opacity: 0.7;
}
header.header_bg_white nav .search a img#search_ico_white {
  display: none;
  transition: 0.5s;
}
header.header_bg_white nav .search a img#search_ico_black {
  display: block;
  transition: 0.5s;
}
header.header_bg_white nav .search a:hover img {
  opacity: 0.7;
}
header.header_bg_white .logo a img#logo_white {
  display: none;
  transition: 0.5s;
}
header.header_bg_white .logo a img#logo_black {
  display: block;
  transition: 0.5s;
}
form#searchform {
  margin-right: -308px;
  transition: 0.5s;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}
form#searchform div {
  height: inherit;
}
form#searchform div input {
  height: inherit;
  border: 0;
  font-size: 1.2em;
}
form#searchform div input#s {
  padding-left: 10px;
  color: #222;
  border-left: 1px solid #ccc;
}
form#searchform div input#searchsubmit {
  padding: 0 12px;
  color: #222;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.show-search-bar {
  margin-right: 0 !important;
  transition: 0.5s;
}
.slider_accueil .slide {
  width: 100%;
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: -1;
}
.citation {
  padding-top: 200px;
  padding-bottom: 100px;
}
.citation blockquote {
  font-size: 3.6em;
  line-height: 1em;
}
.citation cite {
  margin-top: 15px;
}
.brik a {
  border-radius: 5px;
  margin: 0 auto;
  width: 99%;
  height: 99%;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.5);
  -moz-box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.5);
  box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.5);
  transition: 0.3s;
  color: #222;
}
.brik a img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.brik a .frame_content {
  padding: 36px;
  transition: 0.3s;
}
.brik a .frame_content h2 {
  line-height: 1.3em;
}
.brik a .frame_content p.date {
  padding: 0;
  font-size: 0.6em;
}
.brik a .frame_content p.excerpt {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 0.8em;
  color: #777 !important;
}
.brik a:hover {
  width: 100%;
  -webkit-box-shadow: 0px 15px 50px 0px rgba(50,50,50,0.75);
  -moz-box-shadow: 0px 15px 50px 0px rgba(50,50,50,0.75);
  box-shadow: 0px 15px 50px 0px rgba(50,50,50,0.75);
  transition: 0.3s;
}
.brik a:hover .frame_content {
  padding: 36px 38px;
  transition: 0.3s;
}
.parallax-window {
  min-height: 700px;
  background: transparent;
}
.articles h1 {
  padding-top: 300px;
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
}
.articles ul.date-cat-author li {
  padding-right: 10px;
  padding-left: 2px;
  border-right: 2px solid #fff;
}
.articles ul.date-cat-author li ul {
  display: inline-block;
}
.articles ul.date-cat-author li ul li {
  border: none;
}
.articles ul.date-cat-author li ul li a {
  color: #fff;
  text-transform: uppercase;
}
.articles ul.date-cat-author li:last-child {
  border: none;
}
.content-articles p {
  font-family: 'Droid Serif', serif;
  font-size: 1.2em;
  line-height: 1.6em;
  padding-bottom: 30px;
  text-align: justify;
}
